@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 60px;
  background-image: url(../img/image12.png);
}

body .login-container {
  width: 330px;
}

body .login-panel {
  margin-top: 60px;
  position: relative;
  padding-top: 20px;
}

body .login-panel:after,
body .login-panel:before {
  background-image: linear-gradient(to bottom, #f8f8f8 0, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%
}

body .login-panel:after {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1
}

body .login-panel:before {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2
}

.custom-tab {
  padding: 0px 5px;
  width: 50%;
  text-align: center;
}

.line-separator {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin-bottom: 15px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 120px;
  background-color: black;
}

body .dev-container {
  width: 460px;
  min-width: 302px;
  max-width: 460px;
}

.dev-container {
  width: 90% !important;
}

.dev-panel > .dev > img {
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background: url(../img/vk_logo60x60.svg);
  background-size: 60px 60px;
  display: inline-block;
  vertical-align: top;
}

.dev-panel > .dev > span {
  font-size: 80px;
}

.dev-panel > .dev > span > subname {
  font-size: 40px;
}

body .dev-panel {
  margin-top: 100px;
  position: relative;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body .dev-panel > p {
  line-height: 60px;
}

body .dev-panel > .dev-icon {
  position: absolute;
  right: -20px;
  top: -60px;
  padding: 10px;
}

body .dev-panel > div {
  margin-top: -20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

body .dev-panel > div {
  color: gray;
}

body .dev-panel > div > p > brandname {
  font-size: 30px;
  font-family: Kazmann;
  color: black;
}

body .dev-panel > div > p > brandname > brandsubname {
  font-size: 20px;
  color: #006680;
}

body .dev-panel > div > p > customadd {
  font-size: 26px;
  font-family: Kazmann;
  color: #006680;
}

body .dev-panel:after,
body .dev-panel:before {
  background-image: linear-gradient(to bottom, #f8f8f8 0, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%
}

body .dev-panel:after {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1
}

body .dev-panel:before {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2
}
