@font-face {
  font-family: Kazmann;
  src: url('../fonts/Kazmann Sans.ttf');
}

@media (min-width: 768px) {
  body {}
  body .login-container {
    width: 350px !important;
  }
}

body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

body > .container-fluid {
  padding-top: 50px;
}

.custom-navbar-brand {
  margin-left: auto !important;
  padding: 10px 15px;
  height: 60px;
}

.custom-brand {
  font-family: Kazmann;
  transition: all 0.3s ease 0s;
  line-height: 30px;
}

.custom-brand > img {
  vertical-align: inherit;
}

.custom-brand:hover {
  opacity: 0.75;
}

.custom-brand-name {
  font-size: 54px;
  color: black;
}

.custom-brand-slogan {
  font-size: 35px;
  color: #006680;
}

.checkbox {
  padding-top: 0px !important;
}

.checkbox > input {
  margin: 0px 0px !important;
}

.checkbox > label {
  margin-top: -5px;
}

.clear-pad-left {
  padding-left: 0px;
}

.clear-pad-right {
  padding-right: 0px;
}

.custom-glyphicon {
  transition: all 0.3s ease 0s;
}

.custom-alert {
  margin: 5px 0px 0px 0px;
}
