@media (min-width: 768px) {
  body {}
  body .login-container {
    width: 350px !important;
  }
}

body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.custom-navbar-brand {
  margin-left: auto !important;
  padding: 10px 15px;
}

.custom-navbar-brand > img {
  position: absolute;
}

.custom-brand {
  margin: 12px 0px 0px 45px;
}

.custom-brand-name {
  font-size: 25px;
}

.custom-brand-slogan {
  font-size: 15px;
}
