@media (min-width: 768px) {
  body {}
  body .login-container {
    width: 350px !important;
  }
}

body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.custom-navbar-brand {
  margin-left: auto !important;
  padding: 10px 15px;
  height: 60px;
}

.custom-navbar-brand > svg {
  position: absolute;
}

.custom-brand {
  margin: 12px 0px 0px 45px;
}

.custom-brand-name {
  font-size: 25px;
}

.custom-brand-slogan {
  font-size: 15px;
}

.checkbox {
  padding-top: 0px !important;
}

.checkbox > input {
  margin: 0px 0px !important;
}

.checkbox > label {
  margin-top: -5px;
}

.clear-pad-left {
  padding-left: 0px;
}

.clear-pad-right {
  padding-right: 0px;
}

.custom-glyphicon {
  transition: all 0.3s ease 0s;
}

.custom-glyphicon:hover {
  opacity: 0.75;
}
