@media (min-width: 768px) {
  body {}
  body .login-container {
    width: 350px !important;
  }
}

body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: url(../img/landscape.png) no-repeat right 50px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .login-container {
  width: 330px;
}

body .login-panel {
  margin-top: 80px;
  position: relative
}

body .login-panel:after,
body .login-panel:before {
  background-image: linear-gradient(to bottom, #f8f8f8 0, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%
}

body .login-panel:after {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1
}

body .login-panel:before {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  max-height: 60px;
  background-color: #ffffff;
}
