body {
  line-height: 1.42857;
  color: #333;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

body .login-container {
  width: 330px;
}

body .login-panel {
  margin-top: 60px;
  position: relative;
  padding-top: 20px;
}

body .login-panel:after,
body .login-panel:before {
  background-image: linear-gradient(to bottom, #f8f8f8 0, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%
}

body .login-panel:after {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1
}

body .login-panel:before {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2
}

#bgCanvas {
  position: fixed;
  z-index: -5;
}

.custom-tab {
  padding: 0px 5px;
  width: 50%;
  text-align: center;
}

.line-separator {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin-bottom: 15px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 120px;
  background-color: black;
}
